#ASP.NET Core Misc File
standingordernextasp.sln

# Ignore everything in the standingorderapi directory
backend/standingorderapi/*

# Do not ignore these specific items
!backend/standingorderapi/Data/
!backend/standingorderapi/Program.cs

# Ignore ASP.NET Core files that did not get ignored initially 
backend/standingorderapi/appsettings.json
backend/standingorderapi/appsettings.Development.json
backend/standingorderapi/standingorderapi.csproj
